
<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <table>
    <!-- Table Header -->
    <thead>
      <tr>
        <th><%= link_to "Title #{sort_icon('title')}".html_safe, movies_path(sort: 'title', direction: sort_direction('title')) %>
         </th>
        <th><%= link_to "Rating #{sort_icon('rating')}".html_safe, movies_path(sort: 'rating', direction: sort_direction('rating')) %>
        </th>
        <th><%= link_to "Release Date #{sort_icon('release_date')}".html_safe, movies_path(sort: 'release_date', direction: sort_direction('release_date')) %>
        </th>
      
      </tr>
    </thead>

    <!-- Table Body -->
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td style="text-align: right;"><%= movie.title %></td>
          <td style="text-align: right;"><%= movie.rating %></td>
          <td style="text-align: right;"><%= movie.release_date.strftime("%B %d, %Y") %></td> <!-- Formats date to a readable format -->
          <td>
            
          </td>
        </tr>
      <% end %>
    </tbody>

    <!-- Table Footer -->
    <tfoot>
      <tr>
        <td colspan="3">
          <%= link_to "New movie", new_movie_path %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
